* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: block;
  clear: both;
}
header {
  padding: 10px 0;
  background-color: #486944;
}
header h1 {
  color: #fff;
  float: left;
  padding: 15px 15px;
  margin-top: 5px;
}
.layout ul {
  padding: 10px 0;
  float: right;
}
.layout ul li:hover {
  background-color: #e2d784;
  transition: 0.5 ease;
  color: #486944;
}
.layout ul li {
  padding: 20px 15px;
  display: inline-block;
  color: #fff;
}
.foto {
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid;
  border-radius: 10%;
  background-image: url(../img/WhatsApp\ Image\ 2022-03-23\ at\ 23.08.44.jpeg);
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
}
.profile {
  height: 50vh;
}
.profile ul {
  justify-content: center;
  padding: 20px 0;
  margin: 8px auto;
}
.isi {
  font-size: larger;
  text-align: center;
}
section {
  padding: 150px 0;
  border: 1px solid;
}
section ul {
  border: 1px solid;
  padding: 150px;
}
section ul li {
  align-items: center;
  float: left;
  border: 1px solid;
  border-radius: 10%;
  display: inline-block;
  height: 150px;
  width: 100px;
  padding: 10px 10px;
}
.section:after {
  content: '';
  display: block;
  clear: both;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
